{% extends "base.html" %}
{% block title %}
	{% if paste_id %}
		Paste: {{paste_id}}
	{% else %}
		Create a new paste
	{% endif %}
{% endblock %}

{% block body %}
	{% if paste_id %}
		{% if paste %}
			<h1>Paste: {{paste_id}}</h1>
			<p>{{paste}}</p>
		{% else %}
			<h1>There are no pastes with an id of {{paste_id}}</h1>
			<p>Sorry about that :/</p>
			<a href="{{url_for("paste")}}">Back</a>
		{% endif %}
	{% else %}
		<h1>Create a new paste</h1>
		<form method="POST" action="">
			<textarea name="paste" rows="10" cols="80"></textarea>
			<input type="submit" value="Submit">
		</form>
	{% endif %}
{% endblock %}
