{% extends "base.html" %}
{% block title %}
	{% if paste_id %}
		Paste: {{paste_id}}
	{% else %}
		Create a new paste
	{% endif %}
{% endblock %}

{% block body %}
	<div class="ui stackable two column grid container">
	<div class="column">
	{% if paste_id %}
		{% if paste %}
		<div class="ui segment">
			<h4>{{paste_id}}</h4>
			<h3>{{paste}}</h3>
		</div>
		{% else %}
			<h1>There are no pastes with an id of {{paste_id}}</h1>
			<p>Sorry about that :/</p>
			<a href="{{url_for("paste")}}">Back</a>
		{% endif %}
	{% else %}
		<h1>Create a new paste</h1>
		<form class="ui form" method="POST" action="">
			<textarea class="field" name="paste" rows="10" cols="80"></textarea>
			<button class="ui button" type="submit">
				Submit
			</button>
		</form>
	{% endif %}
	</div>
	<div class="right aligned column">
	{% if files %}
	<h3>Other pastes</h3>
	<ul class="ui list">
		{% for file in files %}
			<li><a href="{{url_for("paste", paste_id=file)}}">{{file}}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	</div>
	</div>

{% endblock %}
