{% extends "base.html" %}
{% block title %}
	{% if paste_id %}
	Paste: {{paste_id}}

	{% else %}
		Create a new paste
	{% endif %}
{% endblock %}

{% block body %}
	<div class="ui stackable grid container">
		<div class="twelve wide column">
		{% if paste_id %}
			{% if paste %}
			<div class="ui inverted segment">
				<h4 class="ui header">{{paste_id}}</h4>
				<h3 class="ui header">{{paste}}</h3>
			</div>
			{% else %}
				<h1 class="ui header">There are no pastes with an id of {{paste_id}}</h1>
				<h3 class="ui header">Sorry about that :/</h3>
				<a href="{{url_for("paste")}}">Back</a>
			{% endif %}
		{% else %}
			<h1 class="ui header">Create a new paste</h1>
			<form class="ui form" method="POST" action="">
				<textarea class="field" required
					placeholder="Enter a note here"
					name="paste" rows="10" cols="80"></textarea>
				<button class="fluid ui button" type="submit">
					Submit
				</button>
			</form>
		{% endif %}
		</div>
		<div class="two wide column">
		{% if files %}
		<h3>Pastes</h3>
		<div class="ui link list">
			{% for file in files %}
			{% if paste_id and file == paste_id %}
				<div class="active item">{{paste_id}}</div>
			{% else %}
				<a class="item" href="{{url_for("paste", paste_id=file)}}">{{file}}</a>
				{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		</div>
		</div>

{% endblock %}
